.movies-cards {
  padding: 70px 70px 26px;
}

.movies-cards__list {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  gap: 60px 30px;
  background-color: #fff;
}

.movies-cards__error {
  margin: 0;
  padding: 0 50px;
  text-align: center;
  color: #ff4062;
}

@media screen and (max-width: 768px) {
  .movies-cards {
    padding: 70px 30px 11px;
    gap: 47px 30px;
  }
}

@media screen and (max-width: 420px) {
  .movies-cards {
    padding: 40px 10px 11px;
    gap: 39px;
  }
}
