.navigation {
  padding-bottom: 5px;
  display: flex;
  align-items: center;
  gap: 30px;
}

.navigation__container {
  display: flex;
  align-items: center;
  gap: 50px;
}
.navigation__list {
  margin: 0;
  padding: 0;
  display: flex;
  gap: 20px;
  list-style-type: none;
}

.navigation__link {
  text-decoration: none;
  color: #000;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  transition: opacity 0.3s;
}

.navigation__link:hover {
  opacity: 0.7;
}

.navigation__link_f-medium {
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
}

.navigation__link_black {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 76px;
  height: 32px;
  border-radius: 3px;
  background-color: #000;
  color: #fff;
}

.navigation__link_f-bold {
  font-weight: 500;
}

.navigation__hamburger {
  display: none;
  min-width: 44px;
  min-height: 44px;
  border: 0;
  cursor: pointer;
  background: no-repeat url('../../images/icon_hamburger.svg');
  transition: opacity 0.3s;
}

.navigation__hamburger:hover {
  opacity: 0.6;
}

@media screen and (max-width: 768px) {
  .navigation__hamburger {
    display: block;
  }
  .navigation__container {
    display: none;
  }
}

@media screen and (max-width: 420px) {
  .navigation {
    gap: 13px;
    padding-bottom: 5px;
  }
  .navigation__hamburger {
    min-width: 40px;
    min-height: 43px;
    background: no-repeat url('../../images/icon_hamburger-small.svg');
  }
  .navigation__link_f-medium {
    font-size: 10px;
    font-weight: 500;
    line-height: 16px;
  }

  .navigation__link_black {
    width: 54px;
    height: 26px;
  }
}
