.about-project {
  min-height: 608px;
  padding: 0 70px;
  display: flex;
  flex-direction: column;
  background-color: #fff;
}

.about-project__landing-title {
  padding-top: 10px;
}

.about-project__two-columns {
  display: flex;
  justify-content: space-between;
  padding-top: 70px;
  gap: 53px;
}
.about-project__column {
  max-width: 555px;
}

.about-project__title {
  margin: 0;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.04em;
}

.about-project__paragraph {
  margin: 0;
  padding-top: 26px;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

.about-project__progress {
  padding-top: 110px;
  display: flex;
}

.about-project__progress-part {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.about-project__progress-part_1 {
  flex: 1;
}

.about-project__progress-part_4 {
  flex: 4;
}

.about-project__part-week {
  width: 100%;
  max-height: 36px;
  margin: 0;
  padding-top: 9px;
  padding-bottom: 10px;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
}

.about-project__part-week_black {
  background-color: #000;
  color: #fff;
}

.about-project__part-week_gray {
  background-color: #f2f2f2;
  color: #000;
}

.about-project__part-desc {
  margin: 0;
  padding-top: 14px;
  color: #a0a0a0;
  font-size: 14px;
  font-weight: 500;
  line-height: 17px;
}

@media screen and (max-width: 768px) {
  .about-project {
    min-height: 585px;
    padding: 0 50px;
  }

  .about-project__landing-title {
    padding-top: 0px;
  }

  .about-project__two-columns {
    gap: 37px;
  }

  .about-project__paragraph {
    padding-top: 22px;
    font-size: 12px;
    line-height: 18px;
  }
  .about-project__progress {
    padding-top: 93px;
  }
  .about-project__part-desc {
    font-weight: 400;
  }
}

@media screen and (max-width: 420px) {
  .about-project {
    min-height: 641px;
    padding: 0 18px;
  }

  .about-project__two-columns {
    flex-direction: column;
    padding-top: 60px;
    gap: 56px;
  }

  .about-project__title {
    font-size: 18px;
    line-height: 22px;
  }

  .about-project__paragraph {
    padding-top: 16px;
    font-size: 11px;
    line-height: 16px;
  }

  .about-project__progress {
    padding-top: 60px;
  }

  .about-project__part-week {
    font-size: 11px;
    line-height: 13px;
    padding-top: 11px;
    padding-bottom: 11px;
  }
  .about-project__part-desc {
    padding-top: 10px;
    font-size: 11px;
    line-height: 13px;
  }
  .about-project__progress-part_4 {
    flex: 2;
  }
}
